@using IVH7_Cinema.Domain.Entities;
@using Microsoft.Web.Helpers;
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CinemA Website</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/font-awesome-4.3.0/css/font-awesome.min.css">
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/index.js"></script>
    <script src="~/Scripts/payment.js"></script>
    <script src="~/Scripts/movie.js"></script>
    <script src="~/Scripts/order.js"></script>
    <script src="~/Scripts/bootstrap-rating-input.min.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.6/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.6/js/jquery.dataTables.js"></script>

</head>

<body>
    @if (!User.Identity.IsAuthenticated)
    {
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="~/Content/Images/logo_website.png" alt="">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink(@Resources.MenuHome, "Index", "Home")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@Resources.MenuCinemas<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                @{
        List<string> cities = new List<string>();
        int x = 0;
        foreach (var cinema in (ViewData["Cinemas"]) as List<Cinema>)
        {
            if (x == 0)
            {
                if (!cities.Contains(cinema.City))
                {
                    cities.Add(cinema.City);
                    <li class="li-header">@cinema.City</li>
                                    <li><a href="/Home/Cinema/@cinema.Name/">@cinema.Name</a></li>
                }
            }
            else
            {
                if (!cities.Contains(cinema.City))
                {
                    cities.Add(cinema.City);
                    <li class="divider"></li>
                                    <li class="li-header">@cinema.City</li>
                                    <li><a href="/Home/Cinema/@cinema.Name/">@cinema.Name</a></li>
                }
                else
                {
                    <li><a href="/Home/Cinema/@cinema.Name/">@cinema.Name</a></li>
                }
            }
            x++;
        }
                                }
                            </ul>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "MovieOverview" ? "active" : "")">@Html.ActionLink(@Resources.MenuMovies, "MovieOverview", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "FilmWeekOverview" ? "active" : "")">@Html.ActionLink(@Resources.MenuNow, "FilmWeekOverview", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "NewsLetter" ? "active" : "")">@Html.ActionLink(@Resources.MenuNews, "NewsLetter", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Ënquete" ? "active" : "")">@Html.ActionLink(@Resources.Questionnaire, "Questionnaire", "Account")</li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Filmrecensie" ? "active" : "")">@Html.ActionLink(@Resources.Review, "MovieReview", "Account")</li>

                        <li>@Html.ActionLink("Login", "Login", "Account")</li>


                    </ul>
                </div><!--/.nav-collapse -->

                <div class="language">
                    <ul class="language">
                        @if (System.Threading.Thread.CurrentThread.CurrentCulture.ToString().Equals("nl-NL"))
                        {
                            <li class="lang-active"><a href="@Url.Action("SetCulture", "Home", new { culture = "nl-nl", returnUrl = @Request.Url })"><img src="~/Content/Images/Netherlands.png" /></a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("SetCulture", "Home", new { culture = "nl-nl", returnUrl = @Request.Url })"><img src="~/Content/Images/Netherlands.png" /></a></li>
                        }
                        @if (System.Threading.Thread.CurrentThread.CurrentCulture.ToString().Equals("en-GB"))
                        {
                            <li class="lang-active"><a href="@Url.Action("SetCulture", "Home", new { culture = "en-gb", returnUrl = @Request.Url })"><img src="~/Content/Images/UnitedKingdom.png" /></a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("SetCulture", "Home", new { culture = "en-gb", returnUrl = @Request.Url })"><img src="~/Content/Images/UnitedKingdom.png" /></a></li>
                        }




                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="~/Content/Images/logo_website.png" alt="">
                    </a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink(@Resources.MenuHome, "Index", "Account")</li>
                        
                        

                        <li>
                            @User.Identity.Name
                        </li>

                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>


                    </ul>
                </div><!--/.nav-collapse -->

               
            </div>
        </nav>
        
    }


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron section group">
        <div class="jumbotron-content">
            <div class="jumbotron_text">
                <h1>CinemA @ViewBag.Cinema</h1>
                <p>@Resources.HomeWelcome</p>
            </div>
            <div class="jumbotron_textSmall">
                <span class="cinema bold">@ViewBag.Cinema</span>
                <span class="cinema">@ViewBag.Address</span>
                <span class="cinema">@ViewBag.ZipCode</span>
                <span class="cinema">@ViewBag.City</span>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - CinemA Website</p>
        </div>
    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>