@model IVH7_Cinema.Domain.Entities.Show

@{
    ViewBag.Title = "Order";
}

@{
    System.Diagnostics.Debug.WriteLine("#6 - OrderView - Aantal gevonden seats bij order view: " + Model.Screen.Seats.Count());
}

<input id="totalAvailableSeats" type="text" value="@Model.AvailableSeats()" style="display: none;" />

<h2>Order - @Model.Movie.Title</h2>

<div class="order">
<h5 style="font-size: 16px; margin-top: 0;">Aantal beschikbare stoelen: <span id="availableSeats"></span></h5>

<form id="TariffForm" action="/Pin/PinView?ShowID=@Model.ShowID" method="post">
<table class="order_table">
    <thead>
        <tr>
            <th class="tariffHeader">
                Tarief
            </th>
            <th class="amountHeader">
                Aantal kaartjes
            </th>
            <th class="pricePerTicketHeader">
                Prijs per ticket
            </th>
            <th class="totalPriceHeader">
                Totale prijs
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in @ViewBag.Tariffs)
        {
            double price = x.calculatePrice(@Model);
                bool doesApply = x.DoesApply;
            
            if (@Model.Is3D == false)
            {
                System.Diagnostics.Debug.WriteLine(@Model.Is3D);
                if (@x.Name.Equals("3D Bril") == false)
                {
                    if (doesApply)
                    {
                        <tr>
                            <td class="tariff">
                                @x.Name
                            </td>
                            <td class="amount">
                                    <input name="@x.Name" type="text" class="amountOfTickets" value="0" />
                                <div class="increment">
                                    <img class="decrease" src="~/Content/Images/minus.jpg" style="margin-left: 3px;" />
                                        <img class="increase" src="~/Content/Images/plus.jpg" />
                                </div>
                            </td>
                            <td class="pricePerTicket">
                                @String.Format("{0:0.00}", @x.calculatePrice(@Model)).Replace(",", ".")
                            </td>
                            <td class="totalPrice">
                                €0.00
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                if (doesApply)
                {
                System.Diagnostics.Debug.WriteLine("3D Available");
                <tr>
                    <td class="tariff">
                        @x.Name
                    </td>
                    <td class="amount">
                                <input name="@x.Name" type="text" class="amountOfTickets" value="0" />
                        <div class="increment">
                                    <img class="decrease" src="http://icons.iconarchive.com/icons/gakuseisean/ivista-2/256/Alarm-Minus-icon.png" style="margin-right: 10px;" />
                            <img class="increase" src="http://icons.iconarchive.com/icons/gakuseisean/ivista-2/256/Alarm-Plus-icon.png" />
                        </div>
                    </td>
                    <td class="pricePerTicket">
                        €@String.Format("{0:0.00}", @x.calculatePrice(@Model)).Replace(",", ".")
                    </td>
                    <td class="totalPrice">
                        €0.00
                    </td>
                </tr>
                }
            }
        }
    </tbody>
</table>

<div class="totalPriceOrderInformation">
        <div class="totalOrder">
    <span>Totaal:</span>
    <span class="totalPriceOrder">€0.00</span>
        </div>

        <input id="totalPriceOrder" name="totalPriceOrder" type="text" value="0" style="display: none;" />
        <input id="totalOrderedTickets" type="text" value="0" style="display: none;" />

        <div class="buttons">
            <button type="button" id="cancel" class="btn btn-lg btn-danger" style="width: 120px;" onclick="location.href='@Url.Action("FilmIndex", "Cinema")';return false;">Annuleren</button>
            @*<button type="button" disabled="disabled" id="continue" class="btn btn-lg btn-success" onclick="location.href='@Url.Action("PinView", "Pin", new { ShowID = ViewBag.ShowID})';return false;">Verdergaan</button>*@
            <input type="submit" class="form--submit" style="display: none" />
            <a id="continue" class="btn btn-lg btn-success" href="#" disabled="disabled" style="width: 120px;">Betalen</a>
    </div>
</div>

</form>
</div>