@model IVH7_Cinema.WebUI.Website.Models.CreditCardListViewModel

@{
    ViewBag.Title = "CreditCardBetalingSucces";
}
<h2 class="text-center">Betaling Succes!</h2>
<p class="text-center">
    
    <br />
    @Resources.PaymentSuccess<br />
    <br />
    @Resources.CodeSuccess <strong>@Model.order.OrderID</strong><br />
    <br />
    @Resources.InfoSucces1
    @Resources.InfoSucces2
    @Resources.InfoSucces3
    
</p>

<button type="button" id="cancel" class="btn btn-lg btn-danger text-left" onclick="location.href='@Url.Action("Index", "Home")';return false;">Naar startpagina</button>