@model IVH7_Cinema.WebUI.Website.Models.IDealListViewModel

@{
    ViewBag.Title = "IDealBetalingSucces";
}


<h2 class="text-center">Betaling Succes!</h2>
<p class="text-center">
    <br />
    @Resources.PaymentSuccess<br />
    <br />
    @Resources.CodeSuccess <strong>@Model.order.OrderID</strong><br />
    <br />
   <p class="text-center">@Resources.InfoSucces1</p>
    <p class="text-center">@Resources.InfoSucces2</p>
    <p class="text-center">@Resources.InfoSucces3</p> 
</p>

<button type="button" id="cancel" class="btn btn-lg btn-danger text-left" onclick="location.href='@Url.Action("Index", "Home")';return false;">Naar startpagina</button>
